{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h2>Contact</h2>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ bucket }}/static/images/Kazuki_Takehashi.JPG" width="200",height="200">
            <h3>Kazuki Takehashi</h3>
            <address>
                <strong>E-mail:</strong> <a href="mailto:ferry.oh@gmail.com">ferry.oh@gmail.com</a><br/>
                <strong>LinkedIn:</strong><a href="https://www.linkedin.com/in/kazuki-takehashi-b084963a">www.linkedin.com/in/kazuki-takehashi-b084963a</a><br/>
            </address>
        </div>
        <div class="col-md-6">
            <img src="{{ bucket }}/static/images/Ozzie_Hildebrand.jpg" width="200",height="200">
            <h3>Ozzie Hildebrand</h3>
            <address>
                <strong>E-mail:</strong> <a href="ozzmosis876@gmail.com">ozzmosis876@gmail.com</a><br/>
                <strong>LinkedIn:</strong><a href="https://www.linkedin.com/in/ozzie-hildebrand">https://www.linkedin.com/in/ozzie-hildebrand</a><br/>
            </address>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ bucket }}/static/images/Diana_Chacon.jpg" width="200",height="200">
            <h3>Diana Chacon</h3>
            <address>
                <strong>E-mail:</strong> <a href="dcmedina@gmail.com">dcmedina@gmail.com</a><br/>
                <strong>LinkedIn:</strong><a href="https://www.linkedin.com/in/diana-chacon">https://www.linkedin.com/in/diana-chacon</a><br/>
            </address>
        </div>
        <div class="col-md-6">
            <img src="{{ bucket }}/static/images/Bronson_Lauper.jpg" width="200",height="200">
            <h3>Bronson Lauper</h3>
            <address>
                <strong>E-mail:</strong> <a href="onslauper@gmail.com">onslauper@gmail.com</a><br/>
                <strong>LinkedIn:</strong><a href="https://www.linkedin.com/in/bronsonlauper/">https://www.linkedin.com/in/bronsonlauper/</a><br/>
            </address>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ bucket }}/static/images/Anish_Patel.jpg" width="200",height="200">
            <h3>Anish Patel</h3>
            <address>
                <strong>E-mail:</strong> <a href="anishpatel55@yahoo.com">anishpatel55@yahoo.com</a><br/>
                <strong>LinkedIn:</strong><a href="https://www.linkedin.com/in/anishpatel4/">https://www.linkedin.com/in/anishpatel4/</a><br/>
            </address>
        </div>
    </div>
</div>
  {% endblock %}

