{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h2>Salary range prediction</h2>
    <form method=post>
        <dl>
            <p>
                <h3>Field Goals Scored</h3>
                Enter a number of Field Goals Scored (0 - 999)<br/><br/>
                <!-- {{form.FG(placeholder="250")}} -->
                {{form.APPINCOME}}
            </p>
            <p>
                <h3>Points Scored</h3>
                Enter the number of Points Scored (0 - 9999)<br/><br/>
                {{form.COAPPINCOME}}
            </p>
            <p>
                <h3>Field Goal Attempts</h3>
                Enter the number of Field Goal Attempts (0 - 9999)<br/><br/>
                {{form.HISTORY}}
            </p>
            <p>
                <h3>Two Points Scored</h3>
                Enter the number of Two Points Scored(0 - 999)<br/><br/>
                {{form.DEP}}
            </p>
            <p>
                <h3>Two Points Scored</h3>
                Enter the number of Two Points Scored(0 - 999)<br/><br/>
                {{form.EDU}}
            </p>
            <p>
                <h3>Two Points Scored</h3>
                Enter the number of Two Points Scored(0 - 999)<br/><br/>
                {{form.GNR}}
            </p>
            <p>
                <h3>Two Points Scored</h3>
                Enter the number of Two Points Scored(0 - 999)<br/><br/>
                {{form.LAMOUNT}}
            </p>
            <p>
                <h3>Two Points Scored</h3>
                Enter the number of Two Points Scored(0 - 999)<br/><br/>
                {{form.LAMOUNT_T}}
            </p>
            <p>
                <h3>Two Points Scored</h3>
                Enter the number of Two Points Scored(0 - 999)<br/><br/>
                {{form.MRD}}
            </p>
            <p>
                <h3>Two Points Scored</h3>
                Enter the number of Two Points Scored(0 - 999)<br/><br/>
                {{form.PPT_A}}
            </p>
            <p>
                <h3>Two Points Scored</h3>
                Enter the number of Two Points Scored(0 - 999)<br/><br/>
                {{form.SELF_EMP}}
            </p>


        </dl>
        <p><input type="submit" value="submit"></p>
    </form>
 </div>
{% endblock %}
