{% extends "layout.html" %}

{% block content %}
<h2>Determine the weight of your brain based on the it's Size</h2>
<form method=post>
    <dl>
        <p>
            <h3>Size</h3>
            Enter the size of the brain you wish to get the weight <br/><br/>
            {{form.Gender}}
        </p>

        <p>
            <h3>Name the Brain (optional)</h3> 
          You can give a name to the brain you are "weighing", if you like.<br /><br />
            {{form.Married}}
        </p>
        <p>
            <h3>Size</h3>
            Enter the size of the brain you wish to get the weight <br/><br/>
            {{form.Dependents}}
        </p>

        <p>
            <h3>Name the Brain (optional)</h3> 
          You can give a name to the brain you are "weighing", if you like.<br /><br />
            {{form.Education}}
        </p>
        <p>
            <h3>Size</h3>
            Enter the size of the brain you wish to get the weight <br/><br/>
            {{form.Self_Employed}}
        </p>

        <p>
            <h3>Name the Brain (optional)</h3> 
          You can give a name to the brain you are "weighing", if you like.<br /><br />
            {{form.ApplicantIncome}}
        </p>
        <p>
            <h3>Size</h3>
            Enter the size of the brain you wish to get the weight <br/><br/>
            {{form.CoapplicantIncome}}
        </p>

        <p>
            <h3>Name the Brain (optional)</h3> 
          You can give a name to the brain you are "weighing", if you like.<br /><br />
            {{form.Loan_Amount}}
        </p>
        <p>
            <h3>Name the Brain (optional)</h3> 
          You can give a name to the brain you are "weighing", if you like.<br /><br />
            {{form.Loan_Amount_Term}}
        </p>
        <p>
            <h3>Name the Brain (optional)</h3> 
          You can give a name to the brain you are "weighing", if you like.<br /><br />
            {{form.Credit_History}}
        </p>
        <p>
            <h3>Name the Brain (optional)</h3> 
          You can give a name to the brain you are "weighing", if you like.<br /><br />
            {{form.Property_Area}}
        </p>
    </dl>
    <p><input type="submit" value="submit"></p>
 </form>
{% endblock %}